/* --------------------[Global Modal Definitions]-------------------- */
#site-modal {
    align-items: center;
    display: flex;
        justify-content: center;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    z-index: 99;
}
  
#site-modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: default;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
}
  
#site-modal-content {
    background-color: rgba(148, 180, 195, 0.15);
    border: 3px solid rgba(148, 180, 195, 0.9);
        border-radius: 5px;
    max-height: 75%;
    min-width: 425px;
    padding: 20px;
    position: absolute;
    overflow: auto;
    text-align: center;
    width: 20%;
}

.modal-title {
    color: #f9e2ad;
    font-size: clamp(24pt, 1.9vw, 48pt);
    font-weight: 600;
    letter-spacing: 3px;
    margin-bottom: 20px;
    margin-top: 0;
}

.modal-paragraph { margin-top: 0; }

.modal-form {
    display: grid;
        row-gap: 6px;
    margin: auto;
    min-width: 350px;
    width: 70%;
}
.modal-form input {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(148, 180, 195, 0.9);
        border-radius: 5px;
    color: #94b4c3;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding: 3px 10px;
}
.modal-form button, .modal-button { 
    background: none;
    border: none;
    column-gap: 6px;
    display: grid;
    font-size: 20pt;
    grid-template-columns: repeat(2, auto);
    letter-spacing: 2px;
    margin-left: auto;
    margin-top: 25px;
    padding-right: 0;
    width: fit-content;
}
.modal-form button:hover, .modal-button:hover { color: #f9e2ad; }
.modal-form button span, .modal-button span { margin-top: 4px; }
.modal-form label {
    font-weight: 600;
    letter-spacing: 0.85px;
    text-transform: uppercase;
}

.modal-controls {
    display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    width: 100%;
}
.modal-controls button { margin: 0; }
