/* * frontend/src/context/Modal.css */

/* --------------------[Global Modal Definitions]-------------------- */
#site-modal {
    align-items: center;
    display: flex;
        justify-content: center;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    z-index: 99;
}
  
#site-modal-background {
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    cursor: default;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
}
  
.site-modal-content {
    backdrop-filter: brightness(40%);
    background-color: rgba(148, 180, 195, 0.15);
    border: 3px solid rgba(148, 180, 195, 0.9);
        border-radius: 5px;
    max-height: 75%;
    padding: 1.15vw 2.55vw 1.55vw 2.55vw;
    position: absolute;
    overflow: auto;
    text-align: center;
    width: 33vw;
}

.modal-title {
    color: #f9e2ad;
    font-size: 2vw;
    font-weight: 700;
    letter-spacing: 0.15vw;
    line-height: 2;
    margin: 0;
}

.modal-paragraph { 
    font-size: 1.05vw;
    margin-top: 0; 
}

.modal-form {
    display: grid;
        row-gap: 6px;
    margin: auto;
    width: 90%;
}
.modal-form input {
    background-color: rgba(0, 0, 0, 0.6);
    border: 2px solid rgba(148, 180, 195, 0.9);
        border-radius: 5px;
    color: #94b4c3;
    font-size: 0.95vw;
    font-weight: 600;
    letter-spacing: 0.75px;
    padding: 3px 10px;
}
.modal-form button, .modal-button { 
    background: none;
    border: none;
    display: grid;
        column-gap: 6px;
        grid-template-columns: repeat(2, auto);
    font-size: 1.45vw;
    letter-spacing: 2px;
    margin-left: auto;
    margin-top: 1vw;
    padding-right: 0;
    width: fit-content;
}
.modal-form button:hover, .modal-button:hover { color: #f9e2ad; }
.modal-form button span, .modal-button span { margin-top: 4px; }

.modal-form label {
    display: flex;
        align-items: center;
    font-size: 1.33vw;
    font-weight: 600;
    letter-spacing: 0.85px;
    text-transform: uppercase;
}
.modal-form__error {
    font-size: 1.05vw;
    margin: 0;
}

.modal-controls {
    display: inline-flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    width: 100%;
}
.modal-controls button { margin: 0; }
