/* * frontend/src/components/Loadouts/RecentLoadouts/RecentLoadouts.css */

#site-recent-loadouts-container {
    background-image: url('https://uiuiui.in/uploads/posts/wally/1058173.webp');
    background-position: center;
    background-size: cover;
    padding: 35px 0;
}
#site-recent-loadouts {
    background-size: cover;
    box-sizing: border-box;
    height: max-content;
    margin: 0 auto;
    width: 80%;
}
#site-recent-loadouts h1 { 
    backdrop-filter: brightness(20%);
    border: 3px solid #acdbf9;
        border-radius: 5px;
    font-size: 1.95vw;
    margin: 0 0 1vw; 
    padding: 0 15px;
    white-space: nowrap;
    width: fit-content;
}
