/** frontend/src/components/Footer/Footer.css */

/* Site Footer - Global Definitions */
#site-footer {
    color: lightgray;
    display: flex;
    font-weight: 700;
    justify-content: space-between;
    padding: 0 5%;
    text-align: center;
}

.site-footer__text-icon {
    font-size: x-large;
}

#site-footer-tech svg {
    display: inline-block;
    position: relative;
        bottom: 3px;
    vertical-align: bottom;
}

/* Site Footer - Social Media Icons */
#site-footer-socials { 
    font-size: 32pt; 
    margin-top: 0;
}
