/* * frontend/src/index.css */

/* Font: Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/* 
Colors:
    Neutral Black: #181a1b
    Neutral White: #e8e6e3
EVERSPACE Colors:
    Red: #ff5d51
    Blue: #94b4c3
    Yellow: #f9e2ad
    Borders: #acdbf9 (Note varying border opacity!)
*/

/* Global Site Element Definitions */
a {
    text-decoration: none;
    color: #94b4c3;
}
a:disabled { opacity: 0.5; }
a:hover { color: #f9e2ad; }

body {
    background-color: #181a1b;
    color: #94b4c3;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    margin: 0;
}

button {
    background: none;
    border: none;
    color: #94b4c3;
    cursor: pointer;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
button:active { cursor: default; }
button:disabled { opacity: 0.5; }
button:hover { color: #f9e2ad; }
button:hover:disabled { 
    color: #94b4c3;
    cursor: default; 
}
button img, button p { pointer-events: none; }

div:disabled, div.disabled { 
    opacity: 0.5;
    pointer-events: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #f9e2ad;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

html { max-width: 100%; }

img { font-size: 0; }

input { font-family: 'Titillium Web', sans-serif; }

label { text-transform: uppercase; }

li { text-transform: uppercase; }

p { font-weight: 600; }

/* Global Site Class Definitions */
.lightblue { color: #acdbf9; }
.red, .site-text-icon { color: #ff5d51; }
.yellow { color: #f9e2ad; }