/* * frontend/src/components/Navigation/Navigation.css */

/* Site Navigation - Global Definitions */
#site-nav {
    background-color: rgba(64, 64, 64, 0.5);
    display: flex;
        align-items: center;
        justify-content: space-between;
    font-weight: 600;
    padding: 0 4%;
    position: sticky;
        top: 0px;
        left: 0px;
        bottom: 0;
        right: 0;
    text-transform: uppercase;
    width: 92%;
    z-index: 98;
}

/* Site Logo */
#site-nav-logo {
    margin: 1vw 0;
}
#site-nav-logo a { 
    display: flex;
        align-items: center;
    text-decoration: none; 
}
#site-nav-logo img { 
    height: 3.55vw; 
    max-height: 150px;
}

/* Site Navigation Links (including Profile Button) */
#site-nav-links {
    display: flex;
        column-gap: 2vw;
    font-size: 1.5vw;
    font-weight: 700;
    justify-content: flex-end;
    letter-spacing: 1px;
    padding-top: 3px;
}
#site-nav-links button {
    background: none;
    border: none;
    font-size: 1.5vw;
    font-weight: 700;
    height: fit-content;
    padding: 0 4px;
}
#site-nav-profile-btn button {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
#site-nav-profile-btn button span { 
    font-size: clamp(8pt, 1.3vw, 16pt);
    margin-left: 5px;
    padding-top: 5px; 
}

/* Site Navigation - Profile Dropdown Menu */
#site-nav-rel-container {
    height: 0;
    position: relative;
        top: 5px;
    width: 0;
}
#site-nav-profile-dropdown {
    background-color: rgba(64, 80, 87, 0.95);
    border: 3px solid rgba(148, 180, 195, 0.9);
        border-radius: 5px;
    padding: 3px 20px;
    position: absolute;
}
#site-nav-btn-logout {
    margin-left: 0;
    padding-left: 0;
}