@media screen and (max-width: 719px) {
    #site-nav {
        flex-direction: column;
        padding: 3vw 4%;
    }
    #site-nav-logo {
        width: 90%;
    }
    #site-nav-logo img {
        height: unset;
        width: 100%;
    }

    #site-nav-links {
        display: none;
        visibility: hidden;
    }
    #site-nav-links * {
        font-size: 5vw;
    }
    #site-nav-links button {
        font-size: 5vw;
    }
}