/** frontend/src/components/LoadoutBuilder/Styles/ships.css */
/** Loadout Builder: Ships Tab */

/* Ships Tab: Ship Selector */
#builder-ship-select {
    display: grid;
        column-gap: 10px;
        grid-template-columns: calc(50% - 5px) calc(50% - 5px);
        grid-template-rows: calc(50% - 5px) calc(50% - 5px);
        row-gap: 10px;
}
#builder-ship-select button {
    border: 2px solid rgba(148, 180, 195, 0.7);
    display: flex;
        align-items: center;
        flex-direction: column;
    font-size: clamp(16pt, 1.65vw, 32pt);
    padding: 5px;
    white-space: nowrap;
}
#builder-ship-select button.ship-active { border: 2px solid #acdbf9; }
#builder-ship-select button.ship-active:disabled { opacity: 1; }
#builder-ship-select button * { pointer-events: none; }

.builder-ship-name, .builder-ship-class {
    display: flex;
        justify-content: center;
    height: 20%;
    margin: 0;
    width: 100%;
}
.builder-ship-class {
    align-items: flex-end;
    color: #94b4c3;
}

.builder-ship-graphic { height: 60%; }
.builder-ship-graphic img {
    object-fit: contain;
    height: 100%;
    width: 50%;
}

/* Ships Tab: Selected Ship Information */
#builder-ship-info {
    border: 2px solid rgba(148, 180, 195, 0.7);
    font-size: clamp(18pt, 1.65vw, 32pt);
    overflow-y: scroll;
    padding: 10px;
}

#ship-info-name {
    letter-spacing: 0.75px;
    line-height: 2;
    margin: 0;
    text-align: center;
    white-space: nowrap;
}

#ship-info-class {
    color: #94b4c3;
    margin: 0;
    text-align: center;
}

#ship-info-desc {
    border: 2px solid rgba(148, 180, 195, 0.7);
    box-sizing: border-box;
    letter-spacing: 0.35px;
    margin: 10px auto;
    padding: 8px 10px;
    width: 90%;
}

#ship-info-stats {
    border: 2px solid rgba(148, 180, 195, 0.7);
    box-sizing: border-box;
    display: grid;
    letter-spacing: 0.65px;
    margin: 10px auto;
    padding: 8px 10px;
    row-gap: 5px;
    width: 90%;
}
.ship-info-single-stat {
    display: inline-flex;
        justify-content: space-between;
}
.ship-info-single-stat p {
    margin: 0;
    text-transform: uppercase;
}
